.form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    font-size: 15px;
    height: 40px;
}
.form-control:focus {
    border-color: #ffbc53;
    box-shadow: none;
    outline: 0;
}
input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input, input:focus, button, button:focus {
    outline: none;
}